<div class="col-lg-3">
  <a href="/">
    <img src="/images/Logo2.png" class="mx-auto d-block" alt="logo" style="width:225px;height:66%; padding-top: 0.2cm;">
  </a>  
</div>
<div class="col-lg-9 ">
  <ul class="nav nav-tabs navbar-dark bg-primary align-content-center mx-auto px-5"
    style="height:90px; font-size: 100%;">

    <li class="nav-item ms-5 me-3" >
      <a class="navbar-brand" href="/">HOME</a>
    </li>
    <li class="nav-item mx-3" >
      <a class="navbar-brand" href="/loaiphong">LOẠI PHÒNG</a>
    </li>
    <li class="nav-item mx-3" >
      <a class="navbar-brand" href="/phong">PHÒNG</a>
    </li>
    <li class="nav-item mx-3" >
      <a class="navbar-brand" href="/chinhsach">CHÍNH SÁCH</a>
    </li>
    
    <li class="nav-item mx-3" >
      <a class="navbar-brand" href="/baocao">BÁO CÁO</a>
    </li>    
      
  </ul>
</div>